@use 'sass:map';
@import 'variables';
@import 'bootstrap_custom';
@import 'volby-common';

header {
  background-image: url('./../../public/img/foto_palac_okraje_duotone_8_1920_900.jpg');
  background-position-x: center;
  background-position-y: 20%;
}
